# Web Server Configuration
PORT=<your_port_number>
DB_HOST=<your_database_host>

# MySQL Database Configuration
MYSQL_ROOT_PASSWORD=<your_root_password>
MYSQL_DATABASE=<your_database_name>
MYSQL_USER=<your_database_user>
MYSQL_PASSWORD=<your_database_password>

# AWS Configuration
AWS_DEFAULT_REGION=<your_aws_region_here>
AWS_S3_BUCKET=<your_s3_bucket_name_here>