# Web Server Configuration
PORT=<your_port_number>
DB_HOST=<your_database_host>

# MySQL Database Configuration
MYSQL_ROOT_PASSWORD=<your_root_password>
MYSQL_DATABASE=<your_database_name>
MYSQL_USER=<your_database_user>
MYSQL_PASSWORD=<your_database_password>

# AWS Configuration
# AWS_ACCESS_KEY_ID=<your_access_key_here>
# AWS_SECRET_ACCESS_KEY=<your_secret_key_here>
AWS_DEFAULT_REGION=<your_aws_region_here>